#kubectl create secret docker-registry zot-pull --docker-server=zot.z65.nl --docker-username=admin --docker-password='...' -n vote
#kubectl get secret zot-pull -n vote -o yaml
apiVersion: v1
data:
  .dockerconfigjson: eyJh...
kind: Secret
metadata:
  name: zot-pull
  namespace: vote
type: kubernetes.io/dockerconfigjson
