resources:
- manifests.yaml
- service.yaml

configurations:
- kustomizeconfig.yaml

patches:
- path: webhook_service_name_patch.yaml
  target:
    kind: ValidatingWebhookConfiguration
    name: validating-webhook-configuration
