apiVersion: configbutler.ai/v1alpha3
kind: WatchRule
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  gitTargetRef:
    name: {{ .GitTargetName }}
  rules:
    - apiGroups: ["wardle.example.com"]
      apiVersions: ["v1alpha1"]
      resources: ["flunders"]
