---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - configbutler.ai
  resources:
  - clusterwatchrules
  - gitdestinations
  - gitrepoconfigs
  - watchrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - configbutler.ai
  resources:
  - clusterwatchrules/finalizers
  - gitrepoconfigs/finalizers
  - watchrules/finalizers
  verbs:
  - update
- apiGroups:
  - configbutler.ai
  resources:
  - clusterwatchrules/status
  - gitdestinations/status
  - gitrepoconfigs/status
  - watchrules/status
  verbs:
  - get
  - patch
  - update
