apiVersion: configbutler.ai/v1alpha1
kind: ClusterWatchRule
metadata:
  name: {{ .Name }}
spec:
  targetRef:
    name: {{ .DestinationName }}
    namespace: {{ .Namespace }}
  rules:
  - scope: Cluster
    operations: [CREATE, UPDATE, DELETE]
    apiGroups: [apiextensions.k8s.io]
    apiVersions: [v1]
    resources: [customresourcedefinitions]
