apiVersion: v1
kind: Pod
metadata:
  name: {{.PodName}}
spec:
  restartPolicy: Never
  serviceAccountName: {{.ServiceAccountName}}
  containers:
  - name: curl
    image: curlimages/curl:latest
    command:
    - /bin/sh
    - -c
    args: ["curl -v -k -H 'Authorization: Bearer {{.Token}}' https://{{.ServiceName}}.{{.Namespace}}.svc.cluster.local:8443/metrics"]
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault