apiVersion: v1
kind: Secret
metadata:
  name: {{ .SecretName }}
  namespace: {{ .Namespace }}
type: Opaque
data:
  username: {{ .Username }}
  password: {{ .Password }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  interval: 5s
  timeout: 1m
  url: {{ .RepoURL }}
  ref:
    branch: {{ .Branch }}
  secretRef:
    name: {{ .SecretName }}
