apiVersion: configbutler.ai/v1alpha1
kind: GitProvider
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  url: {{.RepoURL}}
  allowedBranches:
    - "{{.Branch}}"
  push:
    interval: "1s"
    maxCommits: 1
  secretRef:
    name: {{.SecretName}}
