apiVersion: configbutler.ai/v1alpha3
kind: GitProvider
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  url: {{.RepoURL}}
  allowedBranches:
    - "{{.Branch}}"
  secretRef:
    name: {{.SecretName}}
  commit:
    committer:
      name: {{.CommitterName}}
      email: {{.CommitterEmail}}
    signing:
      secretRef:
        name: {{.SigningSecretName}}
      generateWhenMissing: {{.GenerateWhenMissing}}
