apiVersion: configbutler.ai/v1alpha2
kind: GitProvider
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  url: {{.RepoURL}}
  allowedBranches:
    - "{{.Branch}}"
  push:
    commitWindow: "0s"
  secretRef:
    name: {{.SecretName}}
  commit:
    committer:
      name: {{.CommitterName}}
      email: {{.CommitterEmail}}
    message:
      eventTemplate: "{{.EventTemplate}}"
      reconcileTemplate: "{{.ReconcileTemplate}}"
    signing:
      secretRef:
        name: {{.SigningSecretName}}
      generateWhenMissing: {{.GenerateWhenMissing}}
