apiVersion: configbutler.ai/v1alpha1
kind: GitRepoConfig
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  repoUrl: {{.RepoURL}}
  branch: {{.Branch}}
  push:
    interval: "10s"
    maxCommits: 1
  secretRef:
    name: {{.SecretName}}
