apiVersion: configbutler.ai/v1alpha1
kind: GitRepoConfig
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  repoUrl: {{.RepoURL}}
  allowedBranches:
    - "{{.Branch}}"
  push:
    interval: "1s"
    maxCommits: 1
  secretRef:
    name: {{.SecretName}}
