apiVersion: configbutler.ai/v1alpha1
kind: GitRepoConfig
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  repoUrl: "{{ .RepoURL }}"
  allowedBranches:
    - "{{ .Branch }}"
  secretRef:
    name: {{ .SecretName }}