apiVersion: configbutler.ai/v1alpha1
kind: GitTarget
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  provider:
    kind: GitProvider
    name: {{ .ProviderName }}
  branch: {{ .Branch }}
  path: {{ .Path }}
