apiVersion: configbutler.ai/v1alpha1
kind: WatchRule
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  gitRepoConfigRef: {{.GitRepoConfigRef}}
  objectSelector:
    matchExpressions:
    - key: "configbutler.ai/ignore"
      operator: DoesNotExist
  rules:
  - resources: ["deployments", "services", "configmaps", "secrets"]
  - resources: ["ingresses"]