apiVersion: configbutler.ai/v1alpha1
kind: WatchRule
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  targetRef:
    name: {{ .DestinationName }}
  rules:
  - apiGroups: ["shop.example.com"]
    apiVersions: ["v1"]
    resources: ["icecreamorders"]
