# /etc/rancher/k3s/audit/config.yaml
apiVersion: v1
kind: Config
preferences: {}
clusters:
- name: audit-webhook
  cluster:
    # Use the ClusterIP, but with HTTPS
    server: https://10.43.200.200:443/audit-webhook/my-cluster
    # We could also configure an network wide ingress with it's own cert, but it's better if it has a small surface
    insecure-skip-tls-verify: true 
    # base64content = kubectl get secret -n <namespace> <cert-name> -o jsonpath='{.data.ca\.crt}'
    # certificate-authority: base64content
contexts:
- name: webhook
  context:
    cluster: audit-webhook
    user: kube-apiserver
current-context: webhook
users:
- name: kube-apiserver
  user: {}
