apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- crd
- rbac
- service.yaml
- deployment.yaml
- certs
- webhook.yaml
images:
- name: gitops-reverser
  newName: example.com/gitops-reverser
  newTag: v0.0.1
