apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- crd
- rbac
- service.yaml
- deployment.yaml
- certs
- webhook.yaml
- servicemonitor.yaml
images:
- name: gitops-reverser
  newName: gitops-reverser
  newTag: e2e-local
