apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: sut/gitops-reverser-admission-server-cert
  name: gitops-reverser-validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: gitops-reverser-service
      namespace: sut
      port: 9443
      path: /process-validating-webhook
  failurePolicy: Ignore
  name: gitops-reverser.configbutler.ai
  rules:
  - apiGroups:
    - '*'
    apiVersions:
    - '*'
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - '*'
  sideEffects: None

