apiVersion: configbutler.ai/v1alpha3
kind: ClusterWatchRule
metadata:
  name: {{ .Name }}
spec:
  gitTargetRef:
    name: {{ .DestinationName }}
    namespace: {{ .Namespace }}
  rules:
  - apiGroups: [""]
    apiVersions: ["v1"]
    resources: ["namespaces"]
  - apiGroups: ["configbutler.ai"]
    apiVersions: ["v1alpha1"]
    resources: ["clusterwatchrules"]
