apiVersion: configbutler.ai/v1alpha3
kind: ClusterWatchRule
metadata:
  name: {{ .Name }}
spec:
  targetRef:
    name: {{ .DestinationName }}
    namespace: {{ .Namespace }}
  rules:
  - operations: [CREATE, UPDATE, DELETE]
    apiGroups: [""]
    apiVersions: ["v1"]
    resources: ["namespaces"]
  - operations: [CREATE, UPDATE, DELETE]
    apiGroups: ["configbutler.ai"]
    apiVersions: ["v1alpha1"]
    resources: ["clusterwatchrules"]
