apiVersion: configbutler.ai/v1alpha3
kind: WatchRule
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  gitTargetRef:
    name: {{ .DestinationName }}
  rules:
  - apiGroups: [""]
    apiVersions: ["v1"]
    resources: ["configmaps", "secrets", "services", "serviceaccounts"]
  - apiGroups: ["apps"]
    apiVersions: ["v1"]
    resources: ["deployments"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    apiVersions: ["v1"]
    resources: ["roles", "rolebindings"]
  - apiGroups: ["traefik.io"]
    apiVersions: ["v1alpha1"]
    resources: ["ingressroutes"]
  - apiGroups: ["examples.configbutler.ai"]
    apiVersions: ["v1alpha1"]
    resources: ["quizsessions", "quizsubmissions"]
  - apiGroups: ["configbutler.ai"]
    apiVersions: ["v1alpha1"]
    resources: ["gitproviders", "gittargets", "watchrules"]
